#gm-academic-license-selection li:not(:last-of-type) {
    margin-bottom: 10px;
}

#gm-academic-license-selection .license-selector {
    display: flex;
    align-items: center;
}

#gm-academic-license-selection .license-selector input[type="radio"] {
    margin-right: 10px;
}

#gm-academic-license-selection .license-selector .license-images {
    display: inline-block;
    margin-right: 5px;
    position: relative;
    top: 2px;
}

#gm-academic-license-selection .license-selector .license-images img {
    width: 15px;
    height: 15px;
}

#gm-academic-license-selection .license-selector .license-images img:not(:last-of-type) {
    margin-right: 2px;
}